openapi: 3.0.0
info:
  title: API NodeJs Template
  description: Plantilla de API en Node para desarrollos
  version: 1.0.0
  x-logo:
    url: /docs/assets/logo.svg
    backgroundColor: '#FFFFFF'
    altText: Logo
  contact:
    name: Jesús.T
    url: https://portfolio.Smartfulcode.com
    email: jesus@jetiradoro.com
servers:
  - url: https://api.smartfulcode.com
    description: Sandbox environment server
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
security:
  - bearerAuth: []
tags:
  - name: Tests
  - name: Dragon Ball
    description: >-
      Uso de la API de dragon ball para poner ejemplos de obtención de datos a
      través de nuestra API


      > REf. [https://web.dragonball-api.com/](https://web.dragonball-api.com/)
paths:
  /example:
    get:
      tags:
        - Tests
      summary: Example
      description: Endpoint de ejemplo para validar que la API responde correctamente
      responses:
        '200':
          description: OK
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '71'
            ETag:
              schema:
                type: string
                example: W/"47-ivQPCTVWqjOBQz1xCMS/9+wBHbQ"
            Date:
              schema:
                type: string
                example: Fri, 16 Aug 2024 10:53:29 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                status: success
                message: ''
                data:
                  api: api.smartfulcode.com
        '401':
          description: Unauthorized
          headers:
            Date:
              schema:
                type: string
                example: Fri, 16 Aug 2024 10:49:37 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '104'
            Connection:
              schema:
                type: string
                example: keep-alive
            access-control-allow-origin:
              schema:
                type: string
                example: '*'
            Cache-Control:
              schema:
                type: string
                example: public, max-age=0, must-revalidate
            etag:
              schema:
                type: string
                example: W/"68-bIZFIkwv7zDibJy4UonpZ9r+VIY"
            strict-transport-security:
              schema:
                type: string
                example: max-age=63072000
            x-powered-by:
              schema:
                type: string
                example: Express
            x-vercel-cache:
              schema:
                type: string
                example: BYPASS
            x-vercel-id:
              schema:
                type: string
                example: cdg1::cdg1::z9vpd-1723805376369-4c2a295464b6
            CF-Cache-Status:
              schema:
                type: string
                example: DYNAMIC
            Report-To:
              schema:
                type: string
                example: >-
                  {"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v4?s=WHD1hd6qtkhItyCoM%2FKiv6pycxu7BfwSBQZoL8gsnfup1LFk3MeIZHxcZCMfZuipjKPnscPjeGUtlvfIbjWR4YMoyjMKsas4Y8OyQjVuP5X0Z8C%2FhZfee8Jxtci%2BPRfpFAZ4UHPEXQ%3D%3D"}],"group":"cf-nel","max_age":604800}
            NEL:
              schema:
                type: string
                example: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              schema:
                type: string
                example: cloudflare
            CF-RAY:
              schema:
                type: string
                example: 8b40dbd1eca0cc70-MAD
            alt-svc:
              schema:
                type: string
                example: h3=":443"; ma=86400
          content:
            application/json:
              schema:
                type: object
              example:
                status: error
                message: Unauthorized token request
                errors:
                  - El token es incorrecto! (secreto)
  /dragon-ball/characters:
    get:
      tags:
        - Dragon Ball
      summary: Personajes
      description: Listado de personajes de Dragon Ball
      responses:
        '200':
          description: OK
          headers:
            Date:
              schema:
                type: string
                example: Fri, 16 Aug 2024 13:11:46 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            access-control-allow-origin:
              schema:
                type: string
                example: '*'
            Cache-Control:
              schema:
                type: string
                example: public, max-age=0, must-revalidate
            etag:
              schema:
                type: string
                example: W/"145c-2GNHKb+hLt9D7XaSBlHTK7OGr3Q"
            strict-transport-security:
              schema:
                type: string
                example: max-age=63072000
            x-powered-by:
              schema:
                type: string
                example: Express
            x-vercel-cache:
              schema:
                type: string
                example: BYPASS
            x-vercel-id:
              schema:
                type: string
                example: cdg1::cdg1::2qlhx-1723813905756-b9bed4d32d96
            CF-Cache-Status:
              schema:
                type: string
                example: DYNAMIC
            Report-To:
              schema:
                type: string
                example: >-
                  {"endpoints":[{"url":"https:\/\/a.nel.cloudflare.com\/report\/v4?s=dY5yPaU%2FWSTxTSsuLWsJIzcV3p%2Fal%2BD%2BO1J%2FD1XlkzZIy7d47ZpM43h4scwRCOJe9G230wpTxXDsLNHgHhYbYTi31L57joSC708qs4oioYLSsSYsabP5KQb5NauCjzsVhlUzEx%2FMSw%3D%3D"}],"group":"cf-nel","max_age":604800}
            NEL:
              schema:
                type: string
                example: '{"success_fraction":0,"report_to":"cf-nel","max_age":604800}'
            Server:
              schema:
                type: string
                example: cloudflare
            CF-RAY:
              schema:
                type: string
                example: 8b41ac0e98b5cbb7-MAD
            Content-Encoding:
              schema:
                type: string
                example: br
            alt-svc:
              schema:
                type: string
                example: h3=":443"; ma=86400
          content:
            application/json:
              schema:
                type: object
              example:
                status: success
                message: ''
                data:
                  - id: 1
                    nombre: Goku
                    imagen: https://dragonball-api.com/characters/goku_normal.webp
                    tipo: Saiyan
                    poder_ki: 90 Septillion
                    descripcion: >-
                      El protagonista de la serie, conocido por su gran poder y
                      personalidad amigable. Originalmente enviado a la Tierra
                      como un infante volador con la misión de conquistarla. Sin
                      embargo, el caer por un barranco le proporcionó un brutal
                      golpe que si bien casi lo mata, este alteró su memoria y
                      anuló todos los instintos violentos de su especie, lo que
                      lo hizo crecer con un corazón puro y bondadoso, pero
                      conservando todos los poderes de su raza. No obstante, en
                      la nueva continuidad de Dragon Ball se establece que él
                      fue enviado por sus padres a la Tierra con el objetivo de
                      sobrevivir a toda costa a la destrucción de su planeta por
                      parte de Freeza. Más tarde, Kakarot, ahora conocido como
                      Son Goku, se convertiría en el príncipe consorte del monte
                      Fry-pan y líder de los Guerreros Z, así como el mayor
                      defensor de la Tierra y del Universo 7, logrando
                      mantenerlos a salvo de la destrucción en innumerables
                      ocasiones, a pesar de no considerarse a sí mismo como un
                      héroe o salvador.
                  - id: 2
                    nombre: Vegeta
                    imagen: https://dragonball-api.com/characters/vegeta_normal.webp
                    tipo: Saiyan
                    poder_ki: 19.84 Septillion
                    descripcion: >-
                      Príncipe de los Saiyans, inicialmente un villano, pero
                      luego se une a los Z Fighters. A pesar de que a inicios de
                      Dragon Ball Z, Vegeta cumple un papel antagónico, poco
                      después decide rebelarse ante el Imperio de Freeza,
                      volviéndose un aliado clave para los Guerreros Z. Con el
                      paso del tiempo llegaría a cambiar su manera de ser,
                      optando por permanecer y vivir en la Tierra para luchar a
                      su lado contra las inminentes adversidades que superar.
                      Junto con Piccolo, él es de los antiguos enemigos de Goku
                      que ha evolucionando al pasar de ser un villano y
                      antihéroe, a finalmente un héroe a lo largo del transcurso
                      de la historia, convirtiéndose así en el deuteragonista de
                      la serie.
                  - id: 3
                    nombre: Piccolo
                    imagen: https://dragonball-api.com/characters/picolo_normal.webp
                    tipo: Namekian
                    poder_ki: 500.000.000
                    descripcion: >-
                      Es un namekiano que surgió tras ser creado en los últimos
                      momentos de vida de su padre, siendo su actual
                      reencarnación. Aunque en un principio fue el archienemigo
                      de Son Goku, con el paso del tiempo fue haciéndose menos
                      malvado hasta finalmente convertirse en un ser bondadoso y
                      miembro de los Guerreros Z. A través del tiempo, también
                      comenzó a tomarle cariño a su discípulo Son Gohan, a quien
                      veía como una especie de "vástago" y formando un lazo de
                      amistad con este.
                  - id: 4
                    nombre: Bulma
                    imagen: https://dragonball-api.com/characters/bulma.webp
                    tipo: Human
                    poder_ki: '0'
                    descripcion: >-
                      Bulma es la protagonista femenina de la serie manga Dragon
                      Ball y sus adaptaciones al anime Dragon Ball, Dragon Ball
                      Z, Dragon Ball Super y Dragon Ball GT. Es hija del Dr.
                      Brief y su esposa Panchy, hermana menor de Tights y una
                      gran amiga de Son Goku con quien inicia la búsqueda de las
                      Esferas del Dragón. En Dragon Ball Z tuvo a Trunks,
                      primogénito de quien sería su esposo Vegeta, a su hija
                      Bra[3] y su hijo adulto del tiempo alterno Trunks del
                      Futuro Alternativo.
                  - id: 5
                    nombre: Freezer
                    imagen: https://dragonball-api.com/characters/Freezer.webp
                    tipo: Frieza Race
                    poder_ki: 52.71 Septillion
                    descripcion: >-
                      Freezer es el tirano espacial y el principal antagonista
                      de la saga de Freezer.
                  - id: 6
                    nombre: Zarbon
                    imagen: https://dragonball-api.com/characters/zarbon.webp
                    tipo: Frieza Race
                    poder_ki: '30.000'
                    descripcion: >-
                      Zarbon es uno de los secuaces de Freezer y un luchador
                      poderoso.
                  - id: 7
                    nombre: Dodoria
                    imagen: https://dragonball-api.com/characters/dodoria.webp
                    tipo: Frieza Race
                    poder_ki: '20.000'
                    descripcion: >-
                      Dodoria es otro secuaz de Freezer conocido por su
                      brutalidad.
                  - id: 8
                    nombre: Ginyu
                    imagen: https://dragonball-api.com/characters/ginyu.webp
                    tipo: Frieza Race
                    poder_ki: '25.000'
                    descripcion: >-
                      Ginyu es el líder del la élite de mercenarios de mayor
                      prestigio del Ejército de Freeza, la cual lleva el nombre
                      de Fuerzas Especiales Ginew en su honor[9].
                  - id: 9
                    nombre: Celula
                    imagen: https://dragonball-api.com/characters/celula.webp
                    tipo: Android
                    poder_ki: 5 Billion
                    descripcion: >-
                      Cell conocido como Célula en España, es un bioandroide
                      creado por la computadora del Dr. Gero, quien vino del
                      futuro de la línea 3 con la intención de vengarse de Goku
                      por haber acabado con el Ejército del Listón Rojo, y con
                      ello el sueño de todo villano: dominar el mundo. Es el
                      antagonista principal del Arco de los Androides y Cell.
                  - id: 10
                    nombre: Gohan
                    imagen: https://dragonball-api.com/characters/gohan.webp
                    tipo: Saiyan
                    poder_ki: 40 septillion
                    descripcion: >-
                      Son Gohanda en su tiempo en España, o simplemente Gohan en
                      Hispanoamérica, es uno de los personajes principales de
                      los arcos argumentales de Dragon Ball Z, Dragon Ball Super
                      y Dragon Ball GT. Es un mestizo entre saiyano y humano
                      terrícola. Es el primer hijo de Son Goku y Chi-Chi,
                      hermano mayor de Son Goten, esposo de Videl y padre de
                      Pan.
        '401':
          description: Unauthorized
          headers:
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '142'
            ETag:
              schema:
                type: string
                example: W/"8e-vVf9rj53yzyGa4cr2iRr+QucJPY"
            Date:
              schema:
                type: string
                example: Fri, 16 Aug 2024 12:06:27 GMT
            Connection:
              schema:
                type: string
                example: keep-alive
            Keep-Alive:
              schema:
                type: string
                example: timeout=5
          content:
            application/json:
              schema:
                type: object
              example:
                status: error
                message: Unauthorized token request
                errors:
                  - No se ha encontrado el token de autorización
                  - El token es incorrecto!
